---
import Layout from "../layouts/Layout.astro";
import Decor from "../components/Decor.astro";
import Intro from "../components/Intro.astro";
import Section from "../components/Section.astro";
import Lettering from "../components/Lettering.astro";
---

<Layout title="Welcome to the Ultimate Playground.">
  <Decor />
  <main>
    <Intro />
    <Section />
    <Lettering />
  </main>

</Layout>
