---
import Layout from "../layouts/Layout.astro";
import Decor from "../components/Decor.astro";
import Intro from "../components/Intro.astro";
import Sparkl from "../components/Sparkl.astro";
import Lettering from "../components/Lettering.astro";
import Rotating from "../components/Rotating.astro";
import Ball from "../components/Ball.astro";
---

<Layout title="Welcome to the Ultimate Playground.">
  <Decor />
  <main>
    <Intro />
    <Sparkl />
    <Lettering />
    <Ball />
    <Rotating />
  </main>
</Layout>
