<section class="rotation" data-scene data-scene-duration="100%">
  <div class="ball" data-animate data-animate-to-rotation="360"></div>
</section>

<style>
  .rotation {
    padding: 12rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--provincial-pink);
  }

  .ball {
    width: 276px;
    height: 276px;
    background-image: url("/beach-ball.png");
    background-repeat: no-repeat;
  }
</style>
