<div class="decor">
  <div class="color-band bg-color-brown"></div>
  <div class="color-band bg-color-blue"></div>
  <div class="color-band bg-color-yellow"></div>
  <div class="color-band bg-color-red"></div>
  <div class="color-band bg-color-green"></div>
</div>

<style>
  .decor {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    z-index: 1;
  }
  .color-band {
    width: 20%;
    height: 10px;
  }

</style>