
<div class="decor">
  <div class="color-band bg-color-brown"></div>
  <div class="color-band bg-color-blue"></div>
  <div class="color-band bg-color-yellow"></div>
  <div class="color-band bg-color-red"></div>
  <div class="color-band bg-color-green"></div>
</div>

<style>

  .decor {
    position: absolute;
    left: 0;
    top: 0;
  }

  .color-band {
    width: 20px;
    height: 300px;
  }

</style>