<section data-scene class="section">
  <div class="container">
    <h2
      data-animate
      data-animate-from-y="70"
      data-animate-to-y="0"
      data-animate-from-alpha="0"
      data-animate-to-alpha="1"
      data-animate-from-scale="0.75"
      data-animate-to-scale="1"
    >
      Caifornia the <span class="conic-gradient-text">Ultimate Playground</span>
    </h2>
  </div>
</section>

<style>
  .section {
    padding: 12rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h2 {
    font-size: clamp(3.75rem, 0rem + 10vw, 7.5rem);
    line-height: 1;
    color: var(--blue-dark);
  }

  .conic-gradient-text {
    display: block;
    padding: 0  0 1rem;
    background: conic-gradient(
      var(--red) 0 10%,
      var(--brown) 0 30%,
      var(--green) 0 50%,
      var(--brown) 0 70%,
      var(--red) 0 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 100%;
    background-clip: text;
    background-size: 55%;
    color: transparent;
  }
</style>
