<section data-scene class="section">
  <div class="container">
    <h2 class="linear-gradient-text"
      data-animate
      data-animate-from-y="70"
      data-animate-to-y="0"
      data-animate-from-alpha="0"
      data-animate-to-alpha="1"
      data-animate-from-scale="0.75"
      data-animate-to-scale="1"
    >
       Hello California!
    </h2>
  </div>
</section>

<style>
  .section {
    padding: 12rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--linen);
  }

  .linear-gradient-text {
    background: linear-gradient(
      90deg,
      hsl(240deg 100% 20%) 0%,
      hsl(284deg 100% 27%) 25%,
      hsl(327deg 100% 35%) 50%,
      hsl(11deg 100% 43%) 75%,
      hsl(55deg 100% 50%) 100%,
      hsl(240deg 100% 20%) 0%
    );
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 100%;
    background-clip: text;
    background-size: 55%;
    color: transparent;
    font-size: clamp(3.75rem, 0rem + 10vw, 7.5rem);
    line-height: 1;
    padding: 1rem 2rem;
  }
</style>
