<section class="section">
  <div class="rotate">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="296"
      height="297"
      viewBox="0 0 296 297"
      ><defs><rect id="a" width="296" height="296" x="0" y=".98"></rect></defs
      ><g fill="none" fill-rule="evenodd"
        ><mask id="b" fill="#fff"><use xlink:href="#a"></use></mask><g
          fill="#FF5C3B"
          fill-rule="nonzero"
          mask="url(#b)"
          ><path
            d="M168.307 29.5659C168.307 49.6491 149.627 148.135 149.627 148.135 149.627 148.135 130.948 49.6491 130.948 29.5659 130.948 9.48273 139.322.980469 149.627.980469 159.932.980469 168.307 9.46678 168.307 29.5659ZM105.872 35.4042C115.921 52.8075 148.989 147.433 148.989 147.433 148.989 147.433 83.571 71.471 73.5215 54.0836 63.4719 36.6803 66.4708 25.1472 75.4038 19.9948 84.3367 14.8424 95.8219 18.0168 105.872 35.4042ZM54.7303 71.6945C72.1337 81.7441 148.08 147.162 148.08 147.162 148.08 147.162 53.4542 114.094 36.0509 104.045 18.6476 93.995 15.4732 82.5098 20.6415 73.5768 25.7939 64.6439 37.327 61.6449 54.7303 71.6945ZM28.5855 128.69C48.6687 128.69 147.155 147.369 147.155 147.369 147.155 147.369 48.6687 166.049 28.5855 166.049 8.50226 166.049 0 157.674 0 147.353 0 137.033 8.48631 128.674 28.5855 128.674L28.5855 128.69ZM34.4238 191.109C51.8271 181.06 146.453 147.992 146.453 147.992 146.453 147.992 70.5066 213.41 53.1033 223.459 35.6999 233.509 24.1669 230.51 19.0144 221.577 13.862 212.644 17.0364 201.159 34.4238 191.109ZM70.714 242.25C80.7635 224.847 146.182 148.901 146.182 148.901 146.182 148.901 113.114 243.526 103.064 260.93 93.0145 278.333 81.5292 281.507 72.5963 276.339 63.6633 271.187 60.6644 259.654 70.714 242.25ZM127.709 268.411C127.709 248.328 146.389 149.842 146.389 149.842 146.389 149.842 165.068 248.328 165.068 268.411 165.068 288.494 156.71 296.996 146.389 296.996 136.068 296.996 127.709 288.51 127.709 268.411ZM190.128 262.557C180.079 245.153 147.011 150.528 147.011 150.528 147.011 150.528 212.429 226.49 222.479 243.877 232.528 261.281 229.529 272.814 220.596 277.966 211.663 283.118 200.178 279.944 190.128 262.557ZM241.27 226.266C223.866 216.217 147.92 150.799 147.92 150.799 147.92 150.799 242.546 183.867 259.949 193.916 277.352 203.966 280.527 215.451 275.358 224.384 270.206 233.317 258.673 236.316 241.27 226.266ZM267.43 169.287C247.331 169.287 148.845 150.608 148.845 150.608 148.845 150.608 247.331 131.928 267.43 131.928 287.53 131.928 296.016 140.287 296.016 150.608 296.016 160.928 287.53 169.287 267.43 169.287ZM261.576 106.852C244.173 116.902 149.547 149.97 149.547 149.97 149.547 149.97 225.509 84.5517 242.897 74.5021 260.3 64.4526 271.833 67.4515 276.986 76.3844 282.138 85.3174 278.964 96.8026 261.576 106.852ZM225.302 55.711C215.252 73.1143 149.834 149.06 149.834 149.06 149.834 149.06 182.902 54.4348 192.952 37.0315 203.001 19.6282 214.487 16.4538 223.42 21.6222 232.353 26.7746 235.352 38.3076 225.302 55.711Z"
          ></path></g
        ></g
      ></svg
    >
  </div>
</section>

<style>
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12rem 0;
    background-color: #f5f5f5;
  }

  .rotate {
    width: 296px;
    height: 297px;
    animation: rotating 12s linear infinite;
  }

  @keyframes rotating {
    0 {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
