<section class="section" data-scene>
  <h2
    data-animate
    data-animate-from-y="70"
    data-animate-to-y="0"
    data-animate-from-alpha="0"
    data-animate-to-alpha="1"
    data-animate-from-scale="0.75"
    data-animate-to-scale="1"
  >
    <span class="color-green">Find</span>
    <span class="color-yellow">your</span>
    <span class="color-blue">Play</span>
    <span class="color-red">Personality</span>
  </h2>
  <div class="item rotate">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="100"
      height="101"
      viewBox="0 0 100 101"
      ><path
        fill="#FF5C3B"
        d="M56.8573996,10.6371872 C56.8573996,17.4216854 50.5469299,50.6921505 50.5469299,50.6921505 C50.5469299,50.6921505 44.236798,17.4216854 44.236798,10.6371872 C44.236798,3.85269922 47.0656992,0.980469 50.5469299,0.980469 C54.0281606,0.980469 56.8573996,3.847311 56.8573996,10.6371872 Z M35.7656343,12.6094793 C39.1603832,18.4886547 50.331401,50.4550011 50.331401,50.4550011 C50.331401,50.4550011 28.2319199,24.7935504 24.8370021,18.9197463 C21.4420504,13.0405708 22.4551376,9.14446385 25.4728798,7.40388226 C28.4905883,5.66330067 32.3705138,6.73567514 35.7656343,12.6094793 Z M18.4889668,24.8690531 C24.368176,28.2640047 50.024323,50.363452 50.024323,50.363452 C50.024323,50.363452 18.0578752,39.1924342 12.1786998,35.7976853 C6.29952435,32.4025985 5.22714988,28.5226731 6.97310281,25.5049309 C8.7136844,22.4872224 12.6097914,21.4741014 18.4889668,24.8690531 Z M9.65674153,44.1232488 C16.4412397,44.1232488 49.7118399,50.4333807 49.7118399,50.4333807 C49.7118399,50.4333807 16.4412397,56.7438504 9.65674153,56.7438504 C2.87222988,56.7438504 0,53.9146114 0,50.4279756 C0,46.9416775 2.86684166,44.1178437 9.65674153,44.1178437 L9.65674153,44.1232488 Z M11.6290336,65.209609 C17.508209,61.81486 49.4746906,50.6438423 49.4746906,50.6438423 C49.4746906,50.6438423 23.8185098,72.7433234 17.9393344,76.1380723 C12.0601251,79.5331591 8.16405194,78.5200381 6.42343657,75.5022959 C4.68285498,72.4845536 5.75522945,68.6046957 11.6290336,65.209609 Z M23.8885736,82.48604 C27.2834914,76.6069659 49.3831415,50.9509203 49.3831415,50.9509203 C49.3831415,50.9509203 38.2121237,82.9170978 34.8170369,88.7965097 C31.4221191,94.6755838 27.5421599,95.7478231 24.5244514,94.0019716 C21.5067091,92.2615251 20.493622,88.3654519 23.8885736,82.48604 Z M43.1426004,91.3237379 C43.1426004,84.5393074 49.4530701,51.2688085 49.4530701,51.2688085 C49.4530701,51.2688085 55.763202,84.5393074 55.763202,91.3237379 C55.763202,98.1081685 52.939706,100.980311 49.4530701,100.980311 C45.9664342,100.980311 43.1426004,98.1135736 43.1426004,91.3237379 Z M64.2289606,89.3461421 C60.8342117,83.4667302 49.6631939,51.5005527 49.6631939,51.5005527 C49.6631939,51.5005527 71.762675,77.1620034 75.1577617,83.0356724 C78.5525107,88.9150844 77.5393898,92.8111575 74.5216475,94.551604 C71.5039052,96.2920505 67.6240473,95.2198111 64.2289606,89.3461421 Z M81.5057294,77.0863319 C75.6263175,73.6915829 49.9702719,51.5921018 49.9702719,51.5921018 C49.9702719,51.5921018 81.9367872,62.7631196 87.8158613,66.1578685 C93.6949354,69.5529553 94.7675126,73.4328131 93.0213232,76.4505554 C91.2808767,79.4682977 87.3848035,80.4814186 81.5057294,77.0863319 Z M90.3430896,57.8377102 C83.5532539,57.8377102 50.282755,51.5275783 50.282755,51.5275783 C50.282755,51.5275783 83.5532539,45.2171086 90.3430896,45.2171086 C97.1332631,45.2171086 100,48.0409424 100,51.5275783 C100,55.0138763 97.1332631,57.8377102 90.3430896,57.8377102 Z M88.3654938,36.7459449 C82.4864197,40.1410316 50.5199043,51.3120494 50.5199043,51.3120494 C50.5199043,51.3120494 76.1813551,29.2124669 82.0553619,25.8175153 C87.934436,22.4225975 91.8305092,23.4356846 93.5712934,26.4533931 C95.3117399,29.4711354 94.2395006,33.3510608 88.3654938,36.7459449 Z M76.1114264,19.4695138 C72.7163397,25.3486893 50.6168585,51.0046336 50.6168585,51.0046336 C50.6168585,51.0046336 61.7878763,19.0383885 65.1829631,13.1592131 C68.577712,7.2800376 72.4579077,6.20766314 75.47565,7.95364984 C78.4933922,9.69423143 79.5065132,13.5903046 76.1114264,19.4695138 Z"
      ></path></svg
    >
  </div>
  <div class="item rotate-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="92"
      height="92"
      viewBox="0 0 92 92"
      ><path
        fill="#D2D1F8"
        d="M45.502,0 L48.884,25.274 C50.0575335,34.0464706 56.9585294,40.9474665 65.731,42.121 L91.005,45.502 L65.731,48.884 C56.9585294,50.0575335 50.0575335,56.9585294 48.884,65.731 L45.502,91.005 L42.121,65.731 C40.9490978,56.9577229 34.0472771,50.0559022 25.274,48.884 L0,45.502 L25.274,42.121 C34.0472771,40.9490978 40.9490978,34.0472771 42.121,25.274 L45.502,0 Z"
      ></path></svg
    >
  </div>
  <div class="item heart"></div>
</section>

<style>
  .section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12rem 0;
    background-color: var(--linen);
  }

  h2 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 4rem;
  }

  .heart {
    width: 50px;
    aspect-ratio: 1;
    color: #dc1818;
    background:
      radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%) top left,
      radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
      linear-gradient(to bottom left, currentColor 42%, #0000 43%) bottom left,
      linear-gradient(to bottom right, currentColor 42%, #0000 43%) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
  }
  .heart:after {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    opacity: 0.4;
    animation: pulse 1s infinite;
  }

  .rotate {
    position: absolute;
    top: 10%;
    left: 4%;
    width: 101px;
    height: 100px;
    animation: rotating 12s linear infinite;
  }

  .rotate-2 {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 92px;
    height: 92px;
    animation: rotating 12s linear infinite;
  }

  @keyframes pulse {
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  @keyframes rotating {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
