<section data-scene class="section bg-blue">
  <h2 data-animate data-animate-from-y="70" data-animate-to-y="0">
    <sparkly-text
      number-of-sparkles="5"
      style="--sparkly-text-color: orange">
        Hello California!
    </sparkly-text>
  </h2>
</section>

<style>
  .section {
    padding: 12rem 0;
  }

  h2 {
    text-align: center;
    color: #fff;
    font-size: 6rem;
  }

  .bg-blue {
    background-color: #2c7ad2;
    background-image: radial-gradient(
        circle at 47% 14%,
        rgba(205, 205, 205, 0.04) 0%,
        rgba(205, 205, 205, 0.04) 43%,
        transparent 43%,
        transparent 100%
      ),
      radial-gradient(
        circle at 35% 12%,
        rgba(215, 215, 215, 0.04) 0%,
        rgba(215, 215, 215, 0.04) 4%,
        transparent 4%,
        transparent 100%
      ),
      radial-gradient(
        circle at 1% 35%,
        rgba(24, 24, 24, 0.04) 0%,
        rgba(24, 24, 24, 0.04) 37%,
        transparent 37%,
        transparent 100%
      ),
      radial-gradient(
        circle at 21% 1%,
        rgba(0, 0, 0, 0.04) 0%,
        rgba(0, 0, 0, 0.04) 26%,
        transparent 26%,
        transparent 100%
      ),
      radial-gradient(
        circle at 23% 82%,
        rgba(249, 249, 249, 0.04) 0%,
        rgba(249, 249, 249, 0.04) 60%,
        transparent 60%,
        transparent 100%
      ),
      radial-gradient(
        circle at 11% 54%,
        rgba(251, 251, 251, 0.04) 0%,
        rgba(251, 251, 251, 0.04) 23%,
        transparent 23%,
        transparent 100%
      ),
      radial-gradient(
        circle at 69% 68%,
        rgba(234, 234, 234, 0.04) 0%,
        rgba(234, 234, 234, 0.04) 10%,
        transparent 10%,
        transparent 100%
      ),
      linear-gradient(90deg, #2c7ad2, #1568c6);
  }
</style>
